body{
	background-image:url("http://clipground.com/images/blue-sky-cloud-clipart-5.jpg");
}
title{
	text-align: center;
}
h1{
	color: lightskyblue;
	text-align: center;
}
h3{
	text-align: center;
}
h4{
	text-align: center;
}
img{
	height: 270px;
	width: 300px;
}
#thirdDiv{
	height: 600px;
	width: 500px;
	background: azure;
	padding: 50px;
	border: 1px solid black;
}
#spanId{
	font-size: 18;
}
.divClass{
	margin: auto;
	text-align: center;
}